body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(41, 41, 41);
    color: #ffffff;
    text-align: center;
    background-image: url("images/download.gif");
    background-size: cover;
    cursor: url("images/cursor.png") 16 16, auto;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 25px;
    text-align: center;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 140px;
    text-align: center;
}
.img1{
    width: 400px;
}