body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(41, 41, 41);
    color: #ffffff;
    text-align: center;
    background-image: url("images/download.gif");
    background-repeat: repeat;
    cursor: url("images/cursor.png") 16 16, auto;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 60px;
    text-align: center;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 75px;
    text-align: center;
}